colorama==0.4.6
imageio==2.36.1
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.1
opencv-python==4.10.0.84
packaging==24.2
pillow==11.0.0
scikit-image==0.25.0
scipy==1.14.1
termcolor==2.5.0
tifffile==2024.12.12
x256==0.0.3
